.t-nav{
    background-color:#00aaff;
    border-bottom:6px solid #ff3366
}
.b-a{font-size:20px;color:#fff;}
.t-nav .nav-item:hover{background-color:#ff3366;}
.b-a:hover{color:#fff;}
.banner>div>div{height:390px;}
.carousel-control-prev{
    top:45%;left:15px;
    width:30px;height:30px;
    border-radius:50%;
    opacity: 1;
}
.carousel-control-next{
    top:45%;right:15px;
    width:30px;height:30px;
    border-radius:50%;
    opacity: 1;
}
.carousel-control-prev-icon{
    width:30px;height:30px;
    background:url(../../image/index/banner/arrows.png) no-repeat;
}
.carousel-control-next-icon{
    width:30px;height:30px;
    background:url(../../image/index/banner/arrows.png) no-repeat -30px 0;
}
/*轮播指示符样式*/
.carousel-indicators li{
    width:22px;height:22px;
    background: url(../../image/index/banner/bullets.png) no-repeat;
    margin-right:3px;
}
.carousel-indicators .active{
    background-position:0 -22px;
}
.carousel-indicators{
    bottom:-40px;
}
.banner a{}
.aside>a>img{width:188px;height:142px;}
.t-left{
    background:#fff url(../../image/index/banner/left_top.jpg) no-repeat 20px 20px;
    padding-left:80px;
}
.t-left>div>span{font-size:20px;}
.t-left>div>p{font-size:12px;}
.dr>div>div{height:348px;}
.mo{
    background:#f9f9f9 url(../../image/index/da/hot_bj.gif) no-repeat left -1200px;
    font-size:20px;
    line-height:45px;
    border-bottom:1px solid #ddcfbe
}
.zj img{width:160px;height:190px;}
.newtops li a{
    background:url(../../image/index/da/dot2.gif) no-repeat 5px 4px;
    font-size:0.8rem;
    padding-left:18px;
}
.have{
    padding:20px;height:235px;
}
.have a{display:block;}
.have img{
    float:left;
    width:200px;
    margin-right:5px;
}
.have div{line-height:35px}
.list-item{
    height: 38px;
    line-height: 38px;
    padding:0px;
    border-bottom: 1px solid #a5d886;
}
.tj>div>div{height:574px;}
.live,.old{height:629px;}
.t1{
    border:1px solid #ddcfbe;
    background-color:#fff;
}
.t_h{
    width:172px;
    height:150px;
}
.t1_2{
    height:50px;
    margin:5px;

}

.t1_1{
    background-image:url(../../image/index/tuijian/201904-22-7C656865E8DC0A7B45190AC4AC920AAD-290.jpg);
    overflow:hidden;
}
.t2_1{
    background-image:url(../../image/index/tuijian/201904-22-8B6B348CE078810B6A1291A831E58061-290.jpg);
    overflow:hidden;

}
.t3_1{
    background:url(../../image/index/tuijian/201904-22-0E9B4D438A913C4989F1FB35A1A5B9D6-290.jpg);
    overflow:hidden;
}
.t4_1{
    background:url(../../image/index/tuijian/201904-22-D33AA8BF86F4F8811004F9C86F1ED421-290.jpg);
    overflow:hidden;
}
.t5_1{
    background:url(../../image/index/tuijian/201904-22-6DA6C7984C597028D31DD48203C7071A-290.jpg);
    overflow:hidden;
}
.t6_1{
    background:url(../../image/index/tuijian/201904-22-6DA6C7984C597028D31DD48203C7071A-290.jpg);
    overflow:hidden;
}
.t7_1{
    background:url(../../image/index/tuijian/201904-22-6DA6C7984C597028D31DD48203C7071A-290.jpg);
    overflow:hidden;
}
.t8_1{
    background:url(../../image/index/tuijian/201904-22-6DA6C7984C597028D31DD48203C7071A-290.jpg);
    overflow:hidden;
}

.lh{
    height:233px;
}
.lo{
    background:url(../../image/index/live/880A73DC244BBCF9CFB78F4A108DA4CB.jpg-taobao) no-repeat left top;
    background-size:100%;
}
.lt{
    background:url(../../image/index/live/26AF21BFF9D789AC015AC75C3352AFC4.jpg-taobao) no-repeat left top;
    background-size:100%;
}
.lth{
    background:url(../../image/index/live/1365AA5B9472025D689894C6725BA24E.jpg-taobao) no-repeat left top;
    background-size:100%;
}
.lf{
    background:url(../../image/index/live/5CBC1F450AB4BA1D38D8F683.jpg-taobao) no-repeat left top;
    background-size:100%;
}
.lfi{
    background:url(../../image/index/live/72026082C6919210B96F869D6000EBF1.jpg-taobao) no-repeat left top;
    background-size:100%;
}
.ls{
    background:url(../../image/index/live/598A70AB3E4A90D3C60A931DB575A2B7.jpg-taobao) no-repeat left top;
    background-size:100%;
}
.lse{
    background:url(../../image/index/live/1567A078B3C6FCE1889218D44FE76CC1.jpg-taobao) no-repeat left top;
    background-size:100%;
}
.le{
    background:url(../../image/index/live/5CB87D460AB4BA1B588AA89A.jpg-taobao) no-repeat left top;
    background-size:100%;
}
.oo{
    background:url(../../image/index/old/o1.jpg-taobao) no-repeat left top;
    background-size:100%;
}
.ot{
    background:url(../../image/index/old/o2.jpg-taobao) no-repeat left top;
    background-size:100%;
}
.oth{
    background:url(../../image/index/old/o3.jpg-taobao) no-repeat left top;
    background-size:100%;
}
.of{
    background:url(../../image/index/old/o4.jpg-taobao) no-repeat left top;
    background-size:100%;
}
.ofi{
    background:url(../../image/index/old/o5.jpg-taobao) no-repeat left top;
    background-size:100%;
}
.os{
    background:url(../../image/index/old/o6.jpg-taobao) no-repeat left top;
    background-size:100%;
}
.ose{
    background:url(../../image/index/old/o7.jpg-taobao) no-repeat left top;
    background-size:100%;
}
.oe{
    background:url(../../image/index/old/o8.jpg-taobao) no-repeat left top;
    background-size:100%;
}
